html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- https://cdnjs.com/libraries/font-awesome
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        title #{pageTitle} | #{siteName}
    body 
        include partials/header
        main
            block content
        include partials/footer
    block scripts