extends base
include mixins/video

block content 
    nav 
        ul
            li 
                a(href="/videos/upload") Upload Videos 
    h2 Welcome here you will see the trending videos
    ul 
        each video in videos
            +video(video)
        else
            li Sorry, Nothing found