extends base.pug

block content 
    video(src="/" + video.fileUrl, controls, width="640", height="360") 
    div
        p=video.description
        small=video.createDate + " / Uploaded by " + owner.name
    if String(owner._id) == String(video.owner)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;